<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>LoginUserServlet</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>web.servlet.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/Login-User</url-pattern>
  </servlet-mapping>
  <display-name>08102002</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>web.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/Add-User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addproductServlet</display-name>
    <servlet-name>addproductServlet</servlet-name>
    <servlet-class>web.servlet.addproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addproductServlet</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductServlet</display-name>
    <servlet-name>AddProductServlet</servlet-name>
    <servlet-class>web.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductServlet</servlet-name>
    <url-pattern>/Add-Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addproductServlet1</display-name>
    <servlet-name>addproductServlet1</servlet-name>
    <servlet-class>web.servlet.addproductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addproductServlet1</servlet-name>
    <url-pattern>/add-product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>themProductServlet</display-name>
    <servlet-name>themProductServlet</servlet-name>
    <servlet-class>web.servlet.themProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>themProductServlet</servlet-name>
    <url-pattern>/themProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuantityIncDecServlet</display-name>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <servlet-class>web.servlet.QuantityIncDecServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuantityIncDecServlet</servlet-name>
    <url-pattern>/QuantityInc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TongtienServlet</display-name>
    <servlet-name>TongtienServlet</servlet-name>
    <servlet-class>web.servlet.TongtienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TongtienServlet</servlet-name>
    <url-pattern>/Tongtien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtocartServlet</display-name>
    <servlet-name>AddtocartServlet</servlet-name>
    <servlet-class>web.servlet.AddtocartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtocartServlet</servlet-name>
    <url-pattern>/Addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XoakhoiDHServlet</display-name>
    <servlet-name>XoakhoiDHServlet</servlet-name>
    <servlet-class>web.servlet.XoakhoiDHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoakhoiDHServlet</servlet-name>
    <url-pattern>/XoakhoiDH</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xemchitietServlet</display-name>
    <servlet-name>xemchitietServlet</servlet-name>
    <servlet-class>web.servlet.xemchitietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xemchitietServlet</servlet-name>
    <url-pattern>/xemchitiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutchitietServlet</display-name>
    <servlet-name>OutchitietServlet</servlet-name>
    <servlet-class>web.servlet.OutchitietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutchitietServlet</servlet-name>
    <url-pattern>/Outchitiet</url-pattern>
  </servlet-mapping>
</web-app>